{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}


{% block title %}{{title}} | {{block.super}}{% endblock %}

{% block content %}
<header>
  <h3>{{title}}</h3>
</header>
<section class="row">
  <aside class="col-md-6 col-md-offset-3">
      <img id="id_photo_img" class="img" src="{% if object.get_photo_url != None %}{{object.photo.url}}{% else %}{% static 'images/generic-avatar.png' %}{% endif %}" alt="photo">
  </aside>
  <main class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% endfor %}
      <fieldset>
        {% for field in form %}
          <div class="form-group{% if field.errors %} has-error {% endif %}">
            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
            <div class="">
              {% render_field field class="form-control" %}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
          <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
          </div>
      </fieldset>
    </form>
  </main>
</section>

<script type="text/javascript">
  // Show photo
  document.getElementById('id_photo').onchange = function () {
    var src = URL.createObjectURL(this.files[0]);
    document.getElementById('id_photo_img').src = src;
  }

  // Date time to date treatment.
  // to solve the time problem with time in a html date field.
  birth = document.getElementById('id_birth');
  value = birth.value;
  birth.type = 'date';
  birth.value = value.substring(0,10); // eliminate the time;
</script>

{% endblock %}
