
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
 <title>{% block titulo %}O Jogo do Gustavo{% endblock %} </title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="{% static 'style/style.css' %}" />

</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
 <h1>Jogos do Gustavo</h1>
 <h2>Aprender Brincando</h2>
 <p></p>
</div>

<nav class="navbar navbar-expand-sm navbar-dark">
 <a class="navbar-brand" href="{% url 'index' %}">Início</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="collapsibleNavbar">
<!--
   <ul class="navbar-nav">
     <li class="nav-item">
       <a class="nav-link" href="#">Opção 1</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Link</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Link</a>
     </li>
   </ul>
 -->
   <div class="nav-item">
      {% if user.is_authenticated %}
        <span class="nav-brand glyphicon glyphicon-log-in">{{user}}</span>
    </div>
    <div class="">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'words:words'%}">Palavras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'words:newword'%}">Nova Palavra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'access:index' %}">Minha Conta</a>
        </li>
      </ul>
    </div>
    <div class="nav-item">
        <a id="logout" class="nav-link" href=" {% url 'access:logout' %} ">Sair</a>
      {% else %}
        <a id="login" class="nav-link" href="{% url 'access:login' %}">Entrar</a>
    </div>
    <div class="nav-item">
        <a id="novousuario" class="nav-link" href="{% url 'access:newuser' %}">Novo</a>
      {% endif %}
    </div>
 </div>
</nav>

<div class="container margin-top" style="margin-top:30px">
{% block content %}

{% endblock %}
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
 <p>Footer</p>
</div>

</body>
</html>
