
{% extends 'base.html' %}

{% block title %}{{block.super}}{% endblock %}

{% block content %}
<aside class="">
  try <a href="{% url 'dragletterdemo' %}">drag letters</a>
</aside>
<article class="">
  <header>
    <h1>Why this app</h1>
  </header>
  <main>
    <p>With the pandemic, I started to actively participate in my son's literacy. I realized that he was having difficulties, showed a lack of interest in online classes, I had to pressure him, constantly calling his attention.
He found all reasons to leave the class that had only an hour duration!</p>
    <p>I remember, sometimes, having to leave to avoid exploding with rage. I even kicked a pilates ball away, such was my frustration.</p>
    <p>On the other hand, I learned a lot from the classes. I quickly realized that I should be as discreet as possible and let him have the maximum autonomy in class, my presence there, although necessary, often hindered the class.</p>
    <p>Gradually, I also began to understand the process and method used by teachers: The children chose a project, which was actually a theme. The teachers chose the words from the vocabulary used by the children themselves. Then they (children) started to create an illustrated dictionary. Each word was written by the teacher in front of the children, who then should write the word and draw it.</p>
    <p>I realized that he needed to practice more, as he quickly forgot the words he trained. In his duties, he kept trying to guess. I saw that he was not doing well. So, in addition to creating exercises on paper, I decided to create this program as a complement to the method.</p>
  </main>
  <footer></footer>
</article>
<article class="">
  <header>
    <h1>Outcome</h1>
  </header>
  <main>
    <p>I did a little test, for a few days, he trained four words.</p>
    <p>I liked what I saw, he didn't spend too much time in front of my cell phone, just long enough to learn to identify words.</p>
    <p>After the first test, my father was admitted - he is doing well - and I spent the days in the hospital with my brother.</p>
    <p>Due to the increased risk of getting covid, I have not seen my son, he has stayed at his mother's house.</p>
    <p>Thus, he did not use more Gustavo's Games.</p>
    <p>For my surprise, his mother told me over the phone that the word he liked most was the bee!</p>
    <p>I looked at the statistics of the program and found what I already imagined, the word he had trained the most (the words are offered at random) was precisely bee.</p>
  </main>
</article>
{% endblock %}
