{% extends 'gameplace/gamer_place_base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Drag Letter | {{block.super}} {% endblock %}

{% block game %}


<style media="screen">

  img {
    display: block;
    width:150px;
    margin-left:  auto;
    margin-right: auto;
  }

  table {
    font-size: 50px;
    min-width: 250px;
    margin-left:  auto;
    margin-right: auto;

  }

  .font {
    font    : bold 100% Comic, sans-serif;
  }

  .inner {
    color   : #252525;
    text-shadow: 1px 1px #F0F0FF, -3px -3px 1px #101010;
  }

</style>

<script type="text/javascript" src="{% static "script/draggin.js" %}"></script>

<header>
  <h3>Drag Letters</h3>
</header>
<section>
  <span style="display:none" id='word'>{{word.word}}</span>
  <div class="img_square">

  </div>
  <img src="{{word.image.url}}" alt="">
  {% if word %}
    <table>
      <tr>
        {% for letter in word.word %}
          <td><span id="{{letter}}" class="font inner target"><script>document.write('{{target}}'[{{forloop.counter0}}]);</script></span></td>
        {% endfor %}
      </tr>
    </table>
    <table>
      <tr>
        {% for letter in randomWord %}
          <td><span class="font draggable" id="{{letter}}">{{letter}}</span></td>
        {% endfor %}
      </tr>

    </table>
    <form id="drag_letters_form" action="" method="post">
      {% csrf_token %}

      <input type="hidden" name="word_id" id="word_id" value="{{word.id}}">


    </form>
  {% else %}
    <div class="alert alert-dark">
      <p>Sorry.</p>
      <p>There is no word.</p>
      <p>Asck for the master to insert some one.</p>
      <a href="{% url 'indexredirect' %}" class="button">Click here to return.</a>
    </div>
  {% endif %}

</section>

{% endblock %}
