{% extends 'gameplace/game.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Drag Letter | {{block.super}} {% endblock %}

{% block game %}
  {% if word %}
    <script type="text/javascript" src='{% static "script/dragletter2/dragLetters2.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/animation.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/collision.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/keyboard.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/background.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/wordImage.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/hero.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/target.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/letter.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/visualTouch.js" %}'></script>
    <script type="text/javascript" src='{% static "script/dragletter2/spritesheet.js" %}'></script>


    <style media="screen">
      html, body {
        overflow: hidden;
      }
    </style>

    <canvas id="canvas" width="290" height="400"></canvas>


    <form id="drag_letters_form" action="" method="post">

      {% csrf_token %}

      <input type="hidden" name="word_id" id="word_id" value="{{word.id}}">


    </form>

    <script type="text/javascript">


      var conclude = function() {

        alert('Congratulations! You have commplited the word {{word.word}}.');
        document.getElementById("drag_letters_form").submit();
      }

      document.body.onload = function() {
        // Canvas e Context
        var canvas = document.getElementById('canvas');
        var drag = new DragLetters(document, canvas, {'imgSrc':{% if word.image.url != None and word.get_image_url %}'{{ word.image.url|escapejs }}'{% else %}"{% static 'images/generic-avatar.png' %}"{% endif %}, 'text':'{{word.word}}','target':'{{target}}','randomWord':'{{randomWord}}'});
     }
    </script>
  {% else %}
      <div class="alert alert-dark">
        <p>Sorry.</p>
        <p>There is no word.</p>
        <p>Asck for the master to insert some one.</p>
        <a href="{% url 'indexredirect' %}" class="button">Click here to return.</a>
      </div>
  {% endif %}
{% endblock %}
