{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{gamer.nickname}}'s place | {{block.super}}{% endblock %}

{% block content %}
<header>
    <h3>{% if gamer.master.get_avatar_url != None %}<img class="micro_img" src="{{ gamer.master.avatar.url }}" alt="">{%endif%} {{ gamer.master.nickname }}</h3>
  <h3>{{gamer.nickname}}'s Place</h3>
</header>
<section>
  <article class="">

    {% if gamer.get_avatar_url != None %}<img class="avatar_img" src="{{gamer.avatar.url}}" alt="{{gamer.nickname}}">{% endif %}

  </article>
</section>
<section class="galery">
 {% block game %}{% endblock %}
</section>

{% endblock %}
