{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{title}} | {{block.super}}{% endblock %}

{% block content %}
<header>
  <h3>Gamer PLACE</h3>
</header>
<article class="">
  <p>{{object.name}}</p>
  {% if object.get_photo_url != None %}
    <img src="{{object.photo.url}}" alt="avatar">
  {% else %}
    <img src="{% static '/images/generic-avatar.png' %}" alt="avatar" class="img_panel">
  {% endif %}
</article>

<section>
  <header>
    <h2>Avatars</h2>
  </header>
  <div class="galery">
    {% for master in masters %}

      <article class="panel">

        <h3>{{master.nickname}}</h3>
        <a href="{% url 'gameplace:master' master.slug %}">
          {% if master.get_avatar_url != None %}
            <img src="{{master.avatar.url}}" alt="{{master.nickname}}" class="img_panel">
          {% else %}
            <img src="{% static '/images/generic-avatar.png' %}" alt="{{master.nickname}}" class="img_panel">
          {% endif %}
        </a>
      </article>

    {% endfor %}
    <article class="panel">
      <h3>New Avatar</h3>
      <a href="{% url 'gameplace:newmaster' %}">
        <img src="{% static '/images/generic-avatar.png' %}" alt="new avatar" class="img_panel">
      </a>
    </article>
  </div>
</section>

{% endblock %}
