{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{object.nickname}}'s place | {{block.super}}{% endblock %}

{% block content %}
<header>
    <h3>{% if object.master.avatar.url != None %}<img class="micro_img" src="{{ object.master.avatar.url }}" alt="">{%endif%} {{ object.master.nickname }}</h3>
  <h3>{{object.nickname}}'s Place</h3>
</header>
<section>
  <article class="">

    {% if object.avatar.url != None %}<img class="avatar_img" src="{{object.avatar.url}}" alt="{{object.nickname}}">{%else%}<img class="avatar_img" src="{% url 'static/images/generic-avatar.png' %}" alt="generic">{%endif%}

    <ul>
      <li><a href="{% url 'gameplace:games' object.pk %}">Play</a></li>
      <li><a href="{% url 'gameplace:updategamer' object.master.slug object.pk %}">Edit</a></li>
      <li><a href="{% url 'gameplace:updategamerpassword' object.master.slug object.pk %}">Change Password</a></li>
      <li><a href="{% url 'gameplace:deletemastergamer' object.master.slug object.pk %}">Delete</a></li>
    </ul>

  </article>
</section>
<section class="">
  <header>
    <h3>Results</h3>
  </header>
  {% for right in object.getRights %}
    <div class="row">
      <div class="col-9">
        {{right.word}}
      </div>
      <div class="col-3">
        {{right.number}}
      </div>
    </div>
  {% endfor %}
</section>
<section class="">
  <header>
    <h3>Words</h3>
  </header>
  <div class="galery">
    {% for word in object.word_set.all %}
      <article class="panel">
        <h3>{{word}}</h3>
        <a href="{% url 'words:updateword' view.kwargs.slugmaster object.pk word.pk %}">
          {% if word.image.url %}
            <img class="img_panel" src="{{word.image.url}}" alt="{{word.image.url}}">
          {% else %}
            <img class="img_panel" src="{% url 'static/images/generic-avatar.png' %}" alt="generic">
          {% endif %}
        </a>
        <footer style="padding:3px;">
          <a href="{% url 'words:deleteword' view.kwargs.slugmaster object.pk word.pk %}" class="btn btn-secondary">Delete word</a>
        </footer>

      </article>
    {% endfor %}
    <article class="panel">
      <h3>New Word</h3>
      <a href="{% url 'words:newword' view.kwargs.slugmaster object.pk %}">
        <img class="img_panel" src="{% static '/images/generic-avatar.png' %}" alt="new word">
      </a>
    </article>
  </div>
</section>

{% endblock %}
