{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{gamer.nickname}}'s place | {{block.super}}{% endblock %}

{% block content %}
<header>
    <h3>{% if gamer.master.avatar.url != None and gamer.master.get_avatar_url %}<img class="micro_img" src="{{ gamer.master.avatar.url }}" alt="">{% else %}<img class="micro_img" src="{% static '/images/generic-avatar.png' %}" alt="">{% endif %} {{ gamer.master.nickname }}</h3>
  <h3>{{gamer.nickname}}'s Place</h3>
</header>
<section>
  <article class="">
    {% if object.photo.url != None and object.get_photo_url %}
      <img src="{{object.photo.url}}" alt="avatar">
    {% else %}
      {% if gamer.avatar.url != None and gamer.get_avatar_url %}
        <img class="avatar_img" src="{{gamer.avatar.url}}" alt="{{gamer.nickname}}">
      {% else %}
        <img class="avatar_img" src="{% static '/images/generic-avatar.png' %}" alt="{{gamer.nickname}}">
      {% endif %}
    {% endif %}

  </article>
</section>
<section class="galery">
 {% block word %}{% endblock %}
</section>

{% endblock %}
